{% extends "base.html" %}
{% block title %} index {% endblock %}
{% block extra_styles %}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #e2f3f5;
        padding: 0;
        padding-bottom: 60px; /* Adjust this value based on the height of your footer */
        margin: 0; /* Ensure no default margin */
    }

    h1 {
        text-align: center;
        margin-top: 20px;
        color: #b9380e;
        font-size: 2.5rem;
        font-weight: bold;
        text-shadow: 1px 1px 2px #fff;
    }
    .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }

    .col-md-3 {
        margin: 20px;
    }

    .card {
        width: 18rem;
        border: 1px solid #659cd3;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .list-group-item {
        background-color: #ffffff;
        border: none;
        font-size: 1rem;
        color: #333;
        padding: 10px 15px;
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #f8f9fa;
        border-top: 1px solid #ced4da;
    }

    a.edit, a.done {
        text-decoration: none;
        font-size: 1rem;
        color: #007bff;
        display: flex;
        align-items: center;
        transition: transform 0.3s, color 0.3s;
        position: relative;
    }

    a.edit span, a.done span {
        display: none;
        margin-left: 5px;
    }

    a.edit:hover span, a.done:hover span {
        display: inline;
    }

    a.edit:hover, a.done:hover {
        color: #0056b3;
        transform: scale(1.2);
    }

    a.edit svg, a.done svg {
        margin-right: 5px;
        width: 20px;
        height: 20px;
    }


</style>

{% endblock %}



{% block content %}
<h1>TO-DO LIST</h1>
<div class="container">

    {% for i in todo %}
    <div class="col-md-3">
        <div class="card">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> Task: {{ i.Task }}</li>
                <li class="list-group-item"> Date: {{ i.Date }}</li>
                <li class="list-group-item"> Time: {{ i.Time }}</li>
            </ul>
        

            <div class="card-footer">
                <a class="done" href="{% url 'fapp:delete' i.id %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                      </svg>
                   
                    <span>Done</span>
                </a> 

                <a class="edit" href="{% url 'fapp:edit' i.id %}">
                    <svg width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                    </svg>
                    <span>Edit</span>
                </a>   
            </div>
        </div>    
    </div>
    {% endfor %}
</div>


{% endblock %}